html { 
    background: linear-gradient(88deg, #DFF6FF 0%, #e3f1f7 40%, #fdf1fb 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

/* ------------------------ */
/* ------- HEADER --------- */

#header{
    background: #207db3d3;
    border-right: 1px solid #051367;
}

#logo {
    background : #B4E6F0;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #051367;
}

.section-header {
    padding-bottom: 22px;
    padding-left: 5px;
}

.section-header > h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    word-spacing: 1.5px;
    color: #000000;
    font-variant: small-caps;
    margin-block: 20px;
    cursor: default;
}

.section-header > p > a {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
}

.section-header > p > a:hover {
    transition-duration: 0.5s;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    color: #000000;
    text-decoration: none;
}
  
.section-header > p > a:active {
    transition-duration: 0s;
    color: rgb(211, 210, 210);
}
 
/*------------------------ Mobile -------------------------- */
 
.wrap{
    max-width: 1140px;
    margin: 0 auto;
    padding: 1em;
}
 
.wrap:after {
    content: "";
    display: table;
    clear: both;
}

/* -------------------- Tablet ---------------------- */
 
@media screen and (min-width : 900px) {
    #header{
        top: 0;
        left: 0;
        width: 275px;
        height: 115%;
        position: absolute;
    }
 
    #accueil{
        border-left: 275px solid rgba(255, 255, 255, 0);
    }
}

/* -------------------- Desktop ------------------------------ */
 
@media screen and (min-width : 1140px) {
    #footer{
        clear: both;
    }
}

/* ---------------------------- */
/* -------- FOOTER ------------ */

footer {
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: rgb(128, 128, 128);
    color: white;
    text-align: center;
} 

footer > .container > p{
    padding-top: 50px;
}


/* --------------------------------- */
/* ----------- BODY ---------------- */

.content > section {
    display: inline-flex;
    margin-block: 5px;
}

/* ---- Notification ---- */
#notification, #profil{
    position: absolute;
    border : inset 3px #051367;
    border-radius: 30px;
    background: linear-gradient(145deg,#5d8af449 40%, #DFF6FF 100%);
    height: 42vh;
    width: 41%;
}

/* ---- Profil ---- */
#profil{
    margin-right: 15px;
    right: 0;
}

#profil-unconnect{
    margin: auto;
    display:grid;
    
}

#login-button{
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 75px;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    background: rgb(5, 19, 103);
    box-shadow: 1px 5px 20px #000;
}

#btnConnect{
    width: 100%;
    height: 50%;
    margin: auto;
    margin-bottom: 75px;
    margin-top: 35px;
    min-width: 130px;
    color: #fff;
    padding: 5px 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #2D31FA;
    background: #2D31FA;
}

#btnConnect:hover{
    background: #fff;
    color: #2D31FA;
}

#profil-connect {
    margin: auto;
}

#profil-connect > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#profil-connect > p > span{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#btnUnconnect{
    margin: auto;
    color: #fff;
    padding: 5px 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #fa2d3e;
    background: #fa2d3e;
}

/* ---- Actualité ---- */
#actualite{
    border : inset 3px #051367;
    border-radius: 30px;
    margin-top: 425px;
    background: linear-gradient(145deg,#5d8af449 40%, #DFF6FF 100%);
    height: 40vh;
    width: 100%;
}

/* ---- Section vide ---- */
.empty-section{
    margin: auto;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: uppercase;
}

/* ---- Titre ---- */
.content > h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    color: #202c2d;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

/* --------------------------------- */
/* ----------- LOGIN --------------- */
#container-connection{
    position: relative;
    margin: auto;
    margin-top: 15%;
    width: 425px;
    height: 225px;
    border-radius: 10px;
    border: 1px solid rgba(93, 139, 244, 0.5);
    background: linear-gradient(120deg, rgba(96, 210, 255, 0.692) 55%, rgba(74, 160, 194, 0.692) 95%);
    box-shadow: 1px 1px 50px 7px rgb(255, 255, 255);
}

.close-btn{
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 7px;
    right: 7px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
  
.close-btn:hover{
    opacity: .5;
}
  
#container-connection > h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #000;
}
  
.btn-connect, input{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(5, 19, 103);
    background: rgba(210, 242, 255, 0.87);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
  
input:focus{
    outline: none;
    box-shadow: 1px 1px 10px #333;
    background: rgba(3,3,3,.18);
}
  

::-webkit-input-placeholder { color: rgb(141, 141, 141);  }
:-moz-placeholder { color: red;  }
::-moz-placeholder { color: red;  }
:-ms-input-placeholder {  color: #333;  }

/* ---- Bouton 'Se Connecter' ---- */
.btn-connect {
    margin-top: 15px;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    background: rgba(5, 19, 103, 0.3);
    box-shadow: 0 3px #2c0b8e3b;
}

.btn-connect:hover {
    box-shadow: 0 3px #2c0b8e77;
    top: 1px;
    opacity: 0.7;
}

.btn-connect:active {
    box-shadow: 0 0 #2c0b8e;
    top: 5px;
}

/* ---- Message Erreur ---- */
.error-msg{
    position: relative;
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 14%;
    padding: 20px 30px;
    color: #cc0033;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}